/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * proxima-nova:
 *   - http://typekit.com/eulas/00000000000000003b9b3068
 *   - http://typekit.com/eulas/00000000000000003b9b306a
 *   - http://typekit.com/eulas/00000000000000003b9b3066
 *   - http://typekit.com/eulas/00000000000000003b9b3062
 *   - http://typekit.com/eulas/00000000000000003b9b3060
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-01-23 15:36:57 UTC"}*/

@import url("p.css");

@font-face {
font-family:"proxima-nova";
src:url("l") format("woff2"),url("d") format("woff"),url("a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"proxima-nova";
src:url("l-1") format("woff2"),url("d-1") format("woff"),url("a-1") format("opentype");
font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
font-family:"proxima-nova";
src:url("l-2") format("woff2"),url("d-2") format("woff"),url("a-2") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"proxima-nova";
src:url("l-3") format("woff2"),url("d-3") format("woff"),url("a-3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"proxima-nova";
src:url("l-4") format("woff2"),url("d-4") format("woff"),url("a-4") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
